{% extends 'main.html' %}
{% block title %}{% endblock %}

{% block content %}
     <h1 class="text-center azar font-bold my-4 text-[1.3rem]">ایجاد حساب کاربری</h1>
    <section class="bg-white rounded-md shadow-xl w-fit gap-x-8 h-fit mx-auto mt-4 flex justify-around px-6">
        <div>
            <form class="block p-4 mx-auto azar" method="post">
                {% csrf_token %}
                <div class="flex items-center gap-x-6">
                    <div class="mt-2 ">
                    <label for="" class="block py-1 text-gray-600 mx-1 mb-2">نام</label>
                    <input type="text" name="first_name" class="border border-orange-500 rounded-md p-2">
                    <p class="text-[0.9rem] text-red-600 text-center mx-auto mt-1">{{ form.first_name.errors }}</p>
                </div>

                <div class="mt-2">
                    <label for="" class="block py-1 text-gray-600 mx-1 mb-2">نام خانوادگی</label>
                    <input type="text" name="last_name" class="border border-orange-500 rounded-md p-2">
                    <p class="text-[0.9rem] text-red-600 text-center mx-auto mt-1">{{ form.last_name.errors }}</p>
                </div>
                </div>
        <div class="flex items-center gap-x-6">
                 <div class="my-2">
                    <label for="" class="block py-1 text-gray-600 mx-1 mb-2">شماره تماس</label>
                    <input type="text" name="phone" class="border border-orange-500 rounded-md p-2">
                    <p class="text-[0.9rem] text-red-600 text-center mx-auto mt-1">{{ form.phone.errors}}</p>
                </div>

                <div class="my-2">
                    <label for="" class="block py-1 text-gray-600 mx-1 mb-2">ایمیل</label>
                    <input type="email" name="email" class="border border-orange-500 rounded-md p-2">
                   <p class="text-[0.9rem] text-red-600 text-center mx-auto mt-1">{{ form.email.errors }}</p>
                </div>
                </div>

                <div class="flex items-center gap-x-6">
                <div class="my-2">
                    <label for="" class="block py-1 text-gray-600 mx-1 mb-2">رمزعبور</label>
                    <input type="password" name="password" class="border border-orange-500 rounded-md p-2">
                    <p class="text-[0.9rem] text-red-600 text-center mx-auto mt-1">{{ form.password.errors }}</p>
                </div>

                <div class="my-2">
                    <label for="" class="block py-1 text-gray-600 mx-1 mb-2">تکرار رمزعبور</label>
                    <input type="password" name="confirm_password" class="border border-orange-500 rounded-md p-2">
                    <p class="text-[0.9rem] text-red-600 text-center mx-auto mt-1">{{ form.confirm_password.errors }}</p>
                </div>
                </div>

                <button type="submit" class="block my-4 bg-orange-500 mx-auto text-white p-2 w-fit rounded-md azar ">ثبت نام</button>
            </form>
        </div>
        <div class="text-center hidden md:block">
             <img src="./../static/images/bidood.webp" class="block mx-auto mt-14 rounded-lg">
              <p class="azar font-bold text-[1.3rem] my-4">دوچرخه سواری هوشمند</p>
        </div>
    </section>
{% endblock %}