{% extends 'main.html' %}
{% block title %}{% endblock %}

{% block content %}
     <h1 class="text-[2rem] azar font-bold text-orange-500 text-center mt-4 mb-8">سفارشات من</h1>
    {% include 'menu.html' %}
    {% if messages %}
        {% for message in messages %}
             <p class="bg-red-400 text-white text-center mx-auto w-fit p-2 azar my-4 rounded-md">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <section class="flex justify-center flex-wrap gap-2">
    {% for item in bike %}
        <div class="flex bg-white rounded-md p-6 w-fit items-center azar shadow-md gap-x-8 mx-8">
            <div>
                <img src="./../static/images/get-bike.png" alt="" class="block w-[7rem] border border-gray-100 rounded-md">
            </div>
            <div class="flex flex-col">
                <span class="my-1">شناسه: {{ item.bike.id }}</span>
                <span class="mt-2">هزینه اجاره: {{ item.bike.price }} تومان</span>
                <span class="mt-2">تاریخ اجاره: {{ item.date.date }} </span>
                <a href="{% url 'reservation:revert-bike' item.bike.id %}" class="mt-4 text-red-500 text-center rounded-md w-fit p-1 hover:text-white hover:bg-red-500 duration-300">برگرداندن</a>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}








{#{% block content %}#}
{#{% if messages  %}#}
{#<div class="messages">#}
{#		{% for message in messages %}#}
{#			<div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>#}
{#				{{ message }}#}
{#			</div>#}
{#		{% endfor %}#}
{#		</div>#}
{#    {% endif %}#}
{#    {% for item in bike %}#}
{#        <p>شناسه:{{ item.bike.id }}</p>#}
{#        <p>هزینه اجاره: {{ item.bike.price }}</p>#}
{#        <p>وضعیت: {% if item.status == True %}اجاره داده شده{% else %}اجاره داده نشده{% endif %}</p>#}
{#        <p>نوع: {{ item.bike.type }}</p>#}
{#             <a href="{% url 'reservation:revert-bike' item.bike.id %}" style="background-color: red; padding: 0.5rem; display: block; width: fit-content; color: white">برگرداندن</a>#}
{#        <hr/>#}
{#    {% endfor %}#}
{#{% endblock %}#}