<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>بیدود</title>
    <link rel="stylesheet" href="./../static/style/tailwind.css">
    <link rel="stylesheet" href="./../static/style/main.css">
</head>
<body class="bg-gray-100">
    <div class="mx-auto text-center">
        <img src="./../static/images/bidood.webp" class="block mx-auto my-10 rounded-lg">
        <p class="azar font-bold text-[1.3rem]">دوچرخه سواری هوشمند</p>
        <div class="flex gap-3 justify-center my-8 items-center">
            <a href="login.html" class="block border hover:bg-orange-500 hover:text-white duration-300 border-orange-500 text-orange-500 p-2 w-fit rounded-md azar">ورود به حساب</a>
            <a href="signup.html" class="block bg-orange-500 hover:bg-transparent hover:border hover:border-orange-500 hover:text-orange-500 duration-300 text-white p-2 w-fit rounded-md azar ">ثبت نام</a>
        </div>
    </div>

</body>
</html>